@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#app {
  margin: 0;
  padding: 0;
  @apply font-mono;
}
 
.canvas {
  @apply fixed top-0 left-0 right-0 bottom-0 grid;
  place-items: center;
  user-select: none;
}

.link {
  @apply text-gray-400 hover:text-gray-600 transition;
}

.box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.controls {
  @apply py-1;
}
