@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
 
.canvas {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.link {
  @apply text-gray-400 hover:text-gray-600 transition;
}
